.transactions, .transactions li {
    padding: 0;
    margin: 0;
  }
  .transactions li {
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    padding: 10px;
  }
  .transactions li div {
    margin-right: 10px;
  }
  .transactions li span {
    display: inline-block;
    margin-right: 10px;
  }
  .transaction-form {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
  }
  .transaction-form input {
    width: 97%;
    height: 25px;
    border-radius: 1em;
  }
  .transaction-form label {
    margin-bottom: 10px;
    border-radius: 1em;
  }
  .transaction-form button {
    height: 40px;
    margin-bottom: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .transaction-form button:hover {
    background-color: blue}

  .transaction-form button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }